  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Register Device</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="col-md-4">
        <div *ngIf="!submitted">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Device Information</h3>
            </div>
            <div class="card-body">
              <div class="submit-form">
                  <div class="form-group">

                    <label for="user_id">User ID</label>
                    <input
                      type="text"
                      class="form-control"
                      id="user_id"
                      required
                      [(ngModel)]="currentUser.user_id"
                      name="user_id"
                      disabled
                    />

                    <label for="device_name">Device Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="device_name"
                      required
                      [(ngModel)]="device.device_name"
                      name="device_name"
                      (keydown.enter)="saveDevice()"
                    />
                  </div>
                  <button  type="submit" (click)="saveDevice()" class="btn btn-success">Submit</button>
              </div>
            </div>
          </div>
        </div>
        
        <div *ngIf="submitted">
          <h4>{{ message }}!</h4>
          <button class="btn btn-success" (click)="newDevice()">Add</button>
        </div>
      </div>
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->