<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
          <!-- /.row -->
        
          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Devices list</h3> 
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text"
                      class="form-control"
                      placeholder="Search by name"
                      [(ngModel)]="name"/>
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default" (click)="searchDevice()"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                
                <div class="card-body table-responsive p-0 " style="height: 300px;">
                  <table class="table table-head-fixed table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Device Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let device of devices;let i = index" [class.active]="i == currentIndex" (click)="setActiveDevice(device, i)">
                        <td> {{device.id}} </td>
                        <td > {{device.name}} </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <button class="m-3 btn btn-sm btn-danger" (click)="removeAllDevices()">Delete all devices</button>
            </div>

            <div class="col-md-6">
              <div *ngIf="currentDevice">
                <h4>Device Information</h4>
                <div>
                  <label><strong>ID:</strong></label> {{ currentDevice.id }}
                </div>
                <div>
                  <label><strong>Name:</strong></label>
                  {{ currentDevice.name }}
                </div>
              
                <a class="badge badge-warning" routerLink="/devices/{{ currentDevice.id }}">
                  Edit
                </a>
    
              </div>
            </div>

          </div>
        
          <!-- /.row -->
        </div><!-- /.container-fluid -->

        <!--Device infromation-->
        
      </div>
      <!-- /.content-header -->
      
    </div>
    <!-- /.content-wrapper -->

  </div>