<!-- Navbar -->
<nav class="main-header navbar fixed-top navbar-expand navbar-white navbar-light">
    <!-- navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="" class="brand-link">
      <img src="./assets/img/logo_humic.png" alt="serverLogo" class="brand-image" style="opacity: 1">
      <div class="brand-text font-weight-light">HUMIC</div>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a routerLink="dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Main Menu
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/users" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Users List
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/register-user" class="nav-link">
              <i class="nav-icon fas fa-user-plus"></i>
              <p>
                Register User
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
